.idea
.DS_Store
node_modules
projects/default
allure-report
allure-reports
allure-results
reports
results
reports-local
.logs
.env
temp/
.vscode/
.vscode/**
package-lock.json
README.md
*.graphql
docs
.husky
out/
